---

---

<nav>
	<div class="pagelinks">
		<a href="/en/cover-letter" class="link">Cover Letters</a>
		<a href="/en/resume" class="link">Resumes</a>
		<a href="/en/interviews" class="link">Interviews</a>
		<a href="/en/about" class="link">About</a>
	</div>  
</nav>

<style>
  nav {
    display: flex;
  }

  .pagelinks {
		display: flex;
		column-gap: 1em;
	}

  a {
    color: var(--theme-text);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
  }

  a:hover,
  a:focus {
		color: var(--theme-text-accent);
    text-decoration: none;
  }

</style>