---
import ThemeToggleButton from '../RightSidebar/ThemeToggleButton';
type Props = {
	path: string;
};
const { path } = Astro.props as Props;
---

<footer>
	<div>&copy;&nbsp;Copyright 2022 - 2023 &mdash; Brian Yamasaki</div>
	<ThemeToggleButton client:visible />
 </footer>

<style>
	footer {
		margin-top: auto;
		padding: 1rem;
		border-top: 3px solid var(--theme-divider);
		text-align: center;
	}
	div {
		margin:1rem;  
	}
</style>
